.input-bar {
  width: 100%;
  padding: 15px;
  font-size: 1.75rem;
  font-weight: 100;
  color: #eaeaea;
  outline: none;
  border: none;
  background-color: #4C6085;
}

::-webkit-input-placeholder {
  color: #eaeaea; 
}

::-moz-placeholder{
  color: #eaeaea;
}

:-ms-input-placeholder {
  color: #eaeaea;
}

:-moz-placeholder {
  color: #eaeaea;
}
