.todo-item {
  display: flex;
  justify-content: space-around;
}

.todo-item:nth-child(odd) {
  background-color: rgba(150, 150, 150, 0.2);
}

input[type="checkbox"] + label {
  display: block;
  cursor: pointer;
  padding: 10px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label:before {
  content: "\2714";
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  display: inline-block;
  width: 16px;
  height: 16px;
  padding-left: 3px;
  padding-bottom: 4px;
  margin-left: 5px;
  margin-right: 10px;
  vertical-align: bottom;
  color: transparent;
  transition: 0.2s;
}

input[type="checkbox"] + label:active:before {
  transform: scale(0);
}

input[type="checkbox"]:checked + label {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: line-through;
}

input[type="checkbox"]:checked + label:before {
  background-color: MediumSeaGreen;
  border-color: MediumSeaGreen;
  color: #fff;
}

input[type="checkbox"]:disabled + label:before {
  transform: scale(1);
  border-color: #aaa;
}

input[type="checkbox"]:checked:disabled + label:before {
  transform: scale(1);
  background-color: #96e6b3;
  border-color: #96e6b3;
}

.todo-item-content {
  font-size: 1.05rem;
  font-weight: 100;
  position: relative;
  left: 0px;
  transition: 0.2s;
  width: 90%;
}

.todo-item-content:hover {
  position: relative;
  left: 3px;
  transition: 0.2s;
}

.todo-item-delete:hover {
  display: block;
}

.todo-item-delete {
  border: none;
  background: none;
  padding: 0 20px;
  outline: none;
  cursor: pointer;
  font-size: 2rem;
  color: #ed254e;
  visibility: hidden;
  /* transition: 0.2s; */
}

.todo-item-delete:hover {
  transform: scale(1.25);
  transition: 0.2s;
}

.todo-item:hover .todo-item-delete {
  visibility: visible;
  outline: none;
}
