.App {
  max-width: 540px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #eaeaea;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 
    0 10px 10px rgba(0, 0, 0, 0.22);
}
