* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5rem;
  background-color: #313d5a;
}

.footer-info {
  text-align: center;
  color: #eaeaea;
  font-weight: 100;
  font-size: 1.1rem;
}

.footer-info > a {
  color: #59abe3;
  text-decoration: none;
}
